<style>
    @font-face {
        font-family: HarmonyOS_Sans_SC_Medium;
        font-style: normal;
        font-display: swap;
        src: url(https://jsdelivr.pai233.top/gh/irozhi/HarmonyOS-Sans/HarmonyOS_Sans_SC/HarmonyOS_Sans_SC_Medium.subset.woff2) format('woff2')
    }
    * {
        font-family: HarmonyOS_Sans_SC_Medium
    }
</style>
<div style="border-radius:5px;width:680px;margin:30px auto 0;max-width:100%">
    <div style="box-shadow:0 0 30px 0 rgb(219 216 214);border-radius:5px;width:630px;margin:auto;max-width:100%;;margin-bottom:-30px">
        <div style="line-height:180%;padding:0 15px 12px;margin:10px auto;color:rgb(0, 0, 0);font-size:14px;margin-bottom:0">
            <h2 style="border-bottom:1px solid #ddd;font-size:16px;font-weight:400;padding:13px 0 10px 8px">
                <span style="color:#12addb;font-weight:700">&gt; </span>您的文章 
                <a style="text-decoration:none;color:#f55066" href="{permalink}" target="_blank">「<%=siteName%>」</a>有了新的评论耶~
            </h2>
            <div style="padding:0 12px 0 12px;margin-top:18px">
                <div class="Messages_box">
                    <p><strong><%=name%></strong> 给你评论：</p>
                    <div class="ax_post_box-comments-single Messages-user" style="display: flex;margin-bottom: 5px">
                        <div class="ax_post_box-comment-text" style="position: relative;">
                            <div class="ax_post_box-comment-text-inner" style="background-color: #f1f3fa;padding: 10px;border-radius: 9px;margin-bottom: 3px"><%-text%></div>
                        </div>
                    </div>
                </div>
                <p>其他信息：</p>
                <p style="background-color:#f5f5f5;border:0 solid #ddd;padding:10px 15px;margin:18px 0">[<a href="https://talking.kcsj.i-nmb.cn" target="_blank">管理评论</a>]</p>       
            </div>
            <div style="color:#8c8c8c;font-size:10px;width:100%;text-align:center;word-wrap:break-word;">
                <p>加油！运气和实力并存，做时代的追梦人！</p>
            </div>
            <div style="text-align:center">
                <a style="text-decoration:none;color:#fff;background-image: -webkit-linear-gradient(0deg, #3ca5f6 0%, #a86af9 100%);padding:5px 20px;border-radius:4px;position:absolute;margin-left:-35px;margin-top:10px" href="<%=url%>#comments" target="_blank">查看</a>
            </div>
        </div>
        <div style="color:#8c8c8c;margin-top: 50px;padding-bottom: 10px;font-size:10px;width:100%;text-align:center">
        <p>©2022 Copyright i囡漫笔</p>
        </div>
    </div>    
</div>
